* {
  margin: 0;
  padding: 0;
}

@media (max-width: 340px) {
  .accordion-title {
    max-width: 260px;
  }
  img {
    width: 100%;
    height: 100%;
    max-width: 260px;
    max-height: 260px;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.7rem;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 819px) {
  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

@media (min-width: 820px) and (max-width: 1919px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 2rem;
  }
}

.crest {
  display: none;
  position: relative;
  width: 28px;
  height: 28px;
}

.crest-line1 {
  position: absolute;
  top: 3px;
  left: 14px;
  width: 2px;
  height: 20px;
  background-color: #000;
}

.crest-line2 {
  position: absolute;
  top: 3px;
  left: 14px;
  width: 2px;
  height: 20px;
  background-color: #000;
  transform: rotate(90deg);
}

body {
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

img {
  width: 300px;
  height: 300px;
}

.accordion-input {
  display: none;
}

.accordion-title {
  cursor: pointer;
  width: 300px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-block {
  display: flex;
  align-items: start;
  justify-content: center;
}

.accordion-image {
  border-radius: 15px;
  width: 0;
  height: 0;
  margin-bottom: 0;
  transition: width 0.4s, height 0.4s, margin-bottom 0.4s;
  transition-timing-function: ease-in;
}

.accordion-input:checked + .accordion-label .accordion-block .accordion-image {
  width: 20rem;
  height: 20rem;
  margin-bottom: 1rem;
  transition: width 0.4s, height 0.4s, margin-bottom 0.4s;
}

.accordion-input:checked + .accordion-label .accordion-title {
  color: orange;
}

.accordion-input:checked + .accordion-label .accordion-title .crest {
  display: block;
  transform: rotate(45deg);
}

@media (hover: hover) and (pointer: fine) {
  .accordion-block,
  .accordion-title {
    cursor: pointer;
  }

  .crest {
    display: none;
  }

  .accordion-title:hover + .accordion-block .accordion-image,
  .accordion-block:hover .accordion-image {
    width: 20rem;
    height: 20rem;
    margin-bottom: 1rem;
    transition: width 0.5s, height 0.5s, padding 0.5s;
  }

  .accordion:hover .accordion-title {
    color: orange;
  }

  .accordion:hover
    .accordion-input:not(:checked)
    + .accordion-label
    .accordion-title
    .crest {
    transform: rotate(45deg);
    transition: transform 0.5s;
  }

  center:hover .accordion-title .crest {
    display: block;
  }
}
